# Recommender systems
## Content-Based Recommender
### recommend the top 5 movies based on a given movie title.

cite:https://www.datacamp.com/community/tutorials/recommender-systems-python

In [6]:
import numpy as np 
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

Load movies_metadata file that contain metadata about each movie

In [7]:
metadata = pd.read_csv('movies_metadata.csv')
metadata.head(3)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

---

Load other files (1- credits file that contain data about crew and cast for each movie
2- keywords file that contain keywords describe each movie) then merge all this three files by movie id

---

In [8]:
# Load keywords and credits
credits = pd.read_csv('credits.csv')
keywords = pd.read_csv('keywords.csv')

# Convert IDs to int. Required for merging
keywords['id'] = keywords['id'].astype('int')
credits['id'] = credits['id'].astype('int')
metadata['id'] = metadata['id'].astype('int')

# Merge keywords and credits into your main metadata dataframe
metadata = metadata.merge(credits, on='id')
metadata = metadata.merge(keywords, on='id')
# Print the first two movies of your newly merged metadata
metadata.head(2)

   adult  ...                                           keywords
0  False  ...  [{'id': 931, 'name': 'jealousy'}, {'id': 4290,...
1  False  ...  [{'id': 10090, 'name': 'board game'}, {'id': 1...

[2 rows x 27 columns]

---
literal_eval --> Parse the stringified features into their corresponding python objects

---

In [9]:
# Here convert ['cast', 'crew', 'keywords', 'genres'] features to list of dict
from ast import literal_eval

features = ['cast', 'crew', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(literal_eval)

---
get_director--> function to return name of director from list of crew 

---

In [10]:
def get_director(crew):
    '''input crew list.
       output name of director or nan if not exist.'''

    for key in crew:
        if key['job'] == 'Director':
            return key['name']

    #return nan if director not found
    return np.nan

---
get_list--> function to return first three names in  {cast,keywords,genres}

---

In [12]:
def get_list(x):
  '''input list of dictionary.
       output list of first three names in input list or empty list.'''

  if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 3 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 3:
            names = names[:3]
        return names

  #Return empty list in case of missing/malformed data
  return []

---
apply get_director and get_list functions and create new columns

---

In [13]:
# Define new columns director, cast, genres and keywords features that are in a suitable form.
metadata['director'] = metadata['crew'].apply(get_director)

features = ['cast', 'keywords', 'genres']
for feature in features:
    metadata[feature] = metadata[feature].apply(get_list)
# Print the new features of the first 3 films
metadata[['title', 'cast', 'director', 'keywords', 'genres']].head(3)

              title  ...                        genres
0         Toy Story  ...   [Animation, Comedy, Family]
1           Jumanji  ...  [Adventure, Fantasy, Family]
2  Grumpier Old Men  ...             [Romance, Comedy]

[3 rows x 5 columns]

---
The next step would be to convert the names and keyword instances into lowercase and strip all the spaces between them
Removing the spaces between words is an important preprocessing step. It is done so that your vectorizer doesn't count the Johnny of "Johnny Depp" and "Johnny Galecki" as the same

---

In [14]:
# Function to convert all strings to lower case and strip names of spaces
def clean_data(x):
    '''input string or list of strings.
       output lowercase and strip string or list of strings or empty string.'''
       
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [15]:
# Apply clean_data function to your features.
features = ['cast', 'keywords', 'director', 'genres']

for feature in features:
    metadata[feature] = metadata[feature].apply(clean_data)

---
combine all columns in one soup to make vectorization

---

In [17]:
def create_soup(x):
    '''input row of [keywords,cast,director,genres].
      output one column of string combine all features'''
      
    return ' '.join(x['keywords']) + ' ' + ' '.join(x['cast']) + ' ' + x['director'] + ' ' + ' '.join(x['genres'])

In [19]:
# Create a new soup feature
metadata['soup'] = metadata.apply(create_soup, axis=1)
metadata[['title','soup']].head(2)

       title                                               soup
0  Toy Story  jealousy toy boy tomhanks timallen donrickles ...
1    Jumanji  boardgame disappearance basedonchildren'sbook ...

---
CountVectorizer same as TF-IDF.but This is because you do not want to down-weight the actor/director's presence if he or she has acted or directed in relatively more movies.
(TF-IDF down-weight words but CountVectorizer not)

---

In [20]:
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(metadata['soup'])

In [21]:
count_matrix.shape

(10048, 20420)

In [22]:
# Compute the cosine similarity 
#(linear_kernel same as cosine_similarity same as @)

cosine_sim = linear_kernel(count_matrix, count_matrix)

---
create new series with index as movie title to access movie by its title and index as column (like id for each movie).

---

In [23]:
# Reset index of main DataFrame and construct reverse mapping as before
metadata = metadata.reset_index()
indices = pd.Series(metadata.index, index=metadata['title'])

In [24]:
indices.iloc[:10]

title
Toy Story                      0
Jumanji                        1
Grumpier Old Men               2
Waiting to Exhale              3
Father of the Bride Part II    4
Heat                           5
Sabrina                        6
Tom and Huck                   7
Sudden Death                   8
GoldenEye                      9
dtype: int64

---
get_recommendations is the main function that take the movie title and return most similar 5 movies

---

In [32]:
# Function that takes in movie title as input and outputs most similar movies
def get_recommendations(title, cosine_sim=cosine_sim, indices=indices):
    '''input: movie title , cosine similarity matrix , indices series.
       output: best 5 movies similar to this title.    '''
       
    # Get the index of the movie that matches the title
    idx = indices[title]

    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))

    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 5 most similar movies
    sim_scores = sim_scores[1:6]

    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]

    # Return the top 10 most similar movies
    return metadata['title'].iloc[movie_indices]

## test recommender

In [33]:
get_recommendations('Tom and Huck')

5252    White Fang 2: Myth of the White Wolf
8172                                Lord Jim
93                              Broken Arrow
96                                  Shopping
143              The Amazing Panda Adventure
Name: title, dtype: object

In [34]:
get_recommendations('Toy Story')

3012             Toy Story 2
3324       Creature Comforts
350          The Flintstones
369              Ri¢hie Ri¢h
405     Addams Family Values
Name: title, dtype: object